@import url("/css/null.css");
.mainDiv {
  margin: 30px 2px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: auto;
}

.main_input {
  min-width: 20%;
  width: 100%;
  height: auto;
}

.fromFormToList {
  width: auto;
  height: auto;
}

.checked_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 20%;
  max-width: 30%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: auto;
  height: auto;
  background-color: #aca5a5;
  border: 2px solid rgba(187, 187, 181, 0.59);
  border-radius: 3px;
}

.checked_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  word-break: break-all;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px 1px 5px;
  border: 0, 5px solid black;
  border-bottom: 0.5px;
  border-radius: 5px;
  width: auto;
  height: auto;
  background-color: #3187a2;
  padding-left: 20px;
}

.checked_main :last-child {
  margin-bottom: 0px;
}

.delButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
  margin: 0px 20px;
  width: 20px;
  height: 20px;
  border: 1px solid blue;
  background-color: rgba(245, 6, 225, 0.7);
  border-radius: 50%;
}

.header {
  margin: 0px 1px;
  border: 2px solid black;
}

.header .headerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

.headerMenu {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.headerPost,
.headerHelp,
.headerCreator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: auto;
  text-align: center;
  background-color: red;
  padding: 2px 2px;
  margin: 0px 5px 2px;
  border: 1px solid black;
  border-radius: 20px;
}

.headerSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 5px;
}

.slideMainDiv {
  position: absolute;
  z-index: 9000;
  min-width: 30%;
  height: 100px;
  width: 100px;
  background-color: #dcd4d4;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 1s, opacity 1s;
  transition: visibility 1s, opacity 1s;
  border: 1px solid black;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.slideColumns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: auto;
  height: auto;
  background-color: rgba(187, 187, 181, 0.59);
  border: 1px solid black;
}

.slideLink {
  margin: 5px;
  text-align: center;
  width: auto;
  height: auto;
  border: 1px solid black;
  word-break: break-all;
  font-size: 100%;
}
